.section {
  length: 100%;
}

#page-content-wrapper{
  text-align: left;
}

@media(max-width:992px){
#container_about {
  margin-left: 5%;
  }
}
#section-contact *{
  box-sizing: border-box;
}
#title-contact{
  margin-top: 4vh;
}
#form-contact {
  border-radius: 5px;
  margin-bottom: 0;
  margin-top: 2vh;
}
p {
  margin-top: 1vh;
}
.pic {
  width: 350px;
  max-width: 40vw;
  length: auto;
  float: right;
  margin-right: 60px;
  margin-left: 0px;
  margin-top: -350px;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/*responsive form*/
#lname, select, textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
}

#submit_contact {
  width: 500px;
  margin-top: 0px;
  float: left;
}

.col-75 {
  float: left;
  width: 500px;
  margin-bottom:0;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .col-25, .col-75, input[type=submit], #submit_contact{
    width: 40%;
  }
  .pic{
    width: 360px;
  }
}

@media screen and (max-width: 800px) {
  .pic {
    float: center;
    max-width: 30vw;
    margin-top: 20px;
  }
  #submit_contact{
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 200px;
  }
  .pic {
    width: 200px;
    position: absolute;
    margin: 0 auto;
  }
}



@media screen and (max-width: 500px) {
  .pic {
    width: 360px;
    margin-top: 0px;
    margin-right: 0px;
  }
}
