
body {
  background-color: #222;
}

ul id {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
  }





li {
  text-decoration: none;
    display: inline;
    width: 40px;
    padding: 14px 16px;
    color: white;



}
ul li a{
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-size: 20px;
}

ul li:hover{
  background: grey;
}

#cssbar {
background-color: black;
opacity: 0.2;
filter: alpha(opacity=80);
padding: 30px;
text-align: center;
color: white;

}
#img {
    height: auto;
    width: auto;
    max-height: 90px;
    max-width: 250px;
    position: right;
}

h1 {
  font-family: Arial;
  color: white;
  text-align: center;
  padding: 20px;
}

.circular {
  display: block;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

	}

  .table {
  display: grid;
  grid-template-columns: minmax(40vw, 1fr);
  grid-template-rows: minmax(50vh, 1fr);
  align-items: center;
  justify-content: center;

  }
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0px 60px 10px 60px;
    vertical-align: middle;

  }
  .row {
    display: flex;

    vertical-align: middle;
    margin: auto;
       margin-left: auto;
       margin-right: auto;

  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

    .fa-facebook {
    background: #3B5998;
    color: white;
   }

  .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-instagram {
   background: #e1306c;
   color: white;
 }
.social {
  float: right;
}
