
body{
  text-align:center;
  background-image: repeating-linear-gradient(60deg, #333, #333 10px, #222 10px, #222 20px);
  opacity: 50%;

}


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      float: right;
  }

  li {
      float: left;
  }

  li a {
      font-family: 'Acme', sans-serif;
      display: block;
      color: white;
      text-align: left;
      padding: 10px 10px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #111;
  }

  .active {
      background-color: #4CAF50;
  }

  footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 8px;
    color: #ECE4E2;
    font-size: 12px;
      }


#img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 250px;
    position: right;
}


h1 {
  margin: 0;
  padding: 10px 50px 10px 50px;
  color: white;
  text-align: center;
  font-size: 35px;
  font: 60px/1.0 'The Girl Next Door';
 color: white;
 text-shadow: 3px 8px 5px rgba(0,0,0,0.3);
}



.logo{
  margin: -20px;
  color: white;
  width: 200px;
  text-align: center;



}
.circular {
  display: block;
  width: 180px;
  height: 180px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 50%;
  border: 3px solid #eee;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
	}

  .table {
  display: grid;
  grid-template-columns: minmax(40vw, 1fr);
  grid-template-rows: minmax(40vh, 1fr);
  align-items: center;
  justify-content: center;




  }

  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0px 30px 0px 30px;
    vertical-align: middle;


  }

  .row {
    display: flex;
    vertical-align: middle;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: left;
  }

    .fa-facebook {
    background: #3B5998;
    color: white;
    margin:3px;
   }

  .fa-twitter {
   background: #55ACEE;
   color: white;
   margin:3px;
 }

 .fa-instagram {
   background: #e1306c;
   color: white;
   margin:3px;
 }
.social {
  float: right;

}

figcaption {
  font: 30px/1.0 'Just Another Hand', Helvetica, sans-serif;
 color: white;
 text-shadow: 3px 8px 5px rgba(0,0,0,0.3);
 font-size: 40px;
}

/*dfn */

dfn {
  background: rgba(0,0,0,0.2);
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0 0.4em;
  cursor: default;
  font-style: normal;
  position: relative;

}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}


.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 120em;
  -moz-border-radius: 120em;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute ;
  top: 50%;
  left: 50%;
  right: -70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center ;
  font-family: 'forum';
}

button{
  background-color: #ff6666;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
