/*footer*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: #2F393C;
}

/*end footer*/
p {
  font-size: 12px;
  font-family: Helvetica;
  color: grey;

}
.left {
  margin-left: 10%;

}
.right {
  float: right;
  margin-top: -3%;
  margin-right: 10%;
  text-align: center;
}

.ussulogo {
  width:5%; /* you can use % */
  height: auto;
  margin-left: 10%;
}


/*social buttons footer*/
.social {
  text-align: center;
  margin-right: 5%;
  margin-top:inherit;
}
.fa {
margin: 5px 2px;
    border-radius: 20%;
    padding: 10px;
    font-size: 10px;
    width: 12px;
    height: 12px;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 1, 0.4);
    color: white;
}

/*newsletter*/
form {
  font-family: Arial;
  font-size: 10px;
  length: 120%;
  margin: 5px;
}

input[type=submit] {
    width: 10%;
    padding: 6px;
    border-radius: 10%;
}
input[type=text] {
    width: 65%;
    padding: 6px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5%;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: grey;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .right, .left, {
        width: 100%;
        text-align: center;
        margin:  auto;
        margin-top: 0;
        float:inherit;
      }
