body {
	padding-left: 0;
	padding-right: 0;
}

#event-list{
	width:100%;
}

h2{
	font-size: 30px;
	margin: 20px auto 10px auto;
}


/*Events*/
@media (max-width:600px){

#event-list{
}

.event-list-item {
  margin: 5px auto;
}

.event-date {
  width: 22%;
  margin: 20px 15px 0 0;
}
.event-title{
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin-top: 10px;
}
.event-info{
  width: 72%;
  padding: 5px;
  float: left;
}
.event-where{
  width: 70%;
	max-width: 240px;
  padding: 3em 2em;
	margin-right: 15%;
  margin-bottom: 2vw;
  border-radius: 4px;
  transition: all 0.5s;
}

/*Maps*/
#maps{
  width: 94vw;
  margin-top: 40px;
}
#maps *{
  margin: 0px;
}
#mapon, #mapoff {
 height: 450px;
 margin-top: 20px;
 margin-bottom: 30px;
}

/*Contact*/
img.pic{
display: none;
}
#form-contact{
	width:100%;
}
.col-75{
	width:80%;
}
.fab{
	margin: 2px;
}
}
