body{
  text-align:center;
  background-color: #222;
}

.navbar {
  overflow: hidden;
	display: block;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  margin: 50px auto;
  max-width: 85%;
  position: absolute;
  z-index: 10;
  left: 13%;
  right: 13%
}

.container {
		background: rgba(255, 255, 255, 0.6);
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;
		border-radius: 5px;
		padding: 20px 40px 20px 40px;
		font-family:#;
		font-size: 24px;
		text-align: center;
		line-height: 30px;
    position: relative;
		}

.footer {
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 16px;
  color: #ECE4E2;
  font-family: "Acme"
  font-size: 12px;
  margin-bottom: -8%;
}

hr{
  max-width: 100%
}

.column{
  width: 50%;
  float: left;
}

.fa{
  width: 30px;
  height: 30px;
  padding: 6px;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  margin-left: 30px;
  margin-top: 10px;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
    margin-right: 40px;
}
.fa-instagram{
    background: royalblue;
    color: white;
}


<!--Maps-->
.mapon, .mapoff{
}
