html,body{
  height:100%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

.tiny{font-size:10px!important}.small{font-size:12px!important}.medium{font-size:15px!important}.large{font-size:18px!important}
.xlarge{font-size:24px!important}.xxlarge{font-size:36px!important}.xxxlarge{font-size:48px!important}.jumbo{font-size:64px!important}

.left-align{text-align:left!important}
.right-align{text-align:right!important}
.justify{text-align:justify!important}
.center{text-align:center!important}
@media (max-width:560px){.hide-small{display:none!important}}
@media (min-width:993px){.hide-large{display:none!important}.sidebar.collapse{display:block!important}}
@media (max-width:992px) and (min-width:561px){.hide-medium{display:none!important}}

.medium-padding{padding:10px;}
.large-padding{padding:20px;}
@media (max-width:560px){.large-padding{padding:6px;}}

h2{
  font-size: 60px;
  margin: 30px auto 8px auto;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

h3{
  padding: 0.1em;
  margin: 0.1em;
}

p{
  font-size: 15px;
}

/*Sidebar*/
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0px;
  width: 200px;
  height: 100%;
  transition: all 0.5s ease;
  background-color: white;
  text-align: center;
}

#mainMenu-container{
  height: 86%;
}
@media(max-width:992px) {
  #sidebar-wrapper{display:none}
}

#MainMenu{
  position: absolute;
  top: 0;
  left:0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  /*background: linear-gradient(black, white, white)*/
}

#MainMenu *{
  border: none;
  border-radius: 0%;
}

.list-group.panel{
  line-height: 46px;
  border:none;
}

.list-group.panel > .list-group-item {
  display: block;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 0px;
  border-radius: 0%;
}

.list-group.panel > .list-group-item:hover{
  text-decoration: none;
  opacity: 0.78;
  transition: 0.5s linear;
}

.list-group.panel > #about *{
  line-height: 24px;
  padding: 8px;
}

.hide-small > .carousel-inner > .item img{
  opacity:0.8;
}
.hide-large > .carousel-inner > .item img{
  opacity:0.9;
}

.list-group.panel > .sidebar-brand{
  height: 60px;
  margin-bottom: 10px;
}
.list-group.panel > .sidebar-brand:hover{
  opacity: 1;
}
.list-group.panel > .sidebar-brand *{
  margin:0px;
  padding: 0px;
  height: 100%;
}

#social_index{
  height: 14%;
}

#social_index *{
  background: transparent;
  font-size: 30px;
  text-decoration: none;
  color:gray;
  margin: 0, auto;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}

#social_index *:hover{
  background: transparent;
  font-size: 30px;
  color: #4F92DE;
}

/*Navbar*/
#myNavbar *{
  text-decoration: none;
  color:white;
  line-height: 28px;
}
.bar{width:100%;overflow: hidden;}

.bar .bar-item{
  padding: 8px 0px;
  float: left;
  width: 20% !important;
  border: none;
  display: block;
  outline: 0;
}
.bar .button{white-space: normal;}
/*Other elements common to all pages*/
#page-content-wrapper {
  position:relative;
  padding: 0px;
  left: 200px;
  width: calc(100% - 200px);
  background-position:center;
  background-size:cover;
  background-color: #f1f1ee;
}
.black > #page-content-wrapper{
  background: none;
  height:100%;
}
@media(max-width:992px) {
  #page-content-wrapper{left: auto; height:94%; width:100%;}
}

.material-icons.home{
  margin-top: 12px;
  padding: 2px;
}

/*footer*/

.footer {
  margin: 0;
  margin-left: 0px;
  padding: 0px;
  height: 120px;
  background-color: #708090;
  margin-top: 162px;
}
#footer_index{
  height:110px;
  margin-top:0px;
  position: relative;
}

.footer-left{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  text-align: left;
}
.footer-right{
  float: right;
  text-align: left;
  margin-right: 20px;
}
.footer-center {
  float: center;
  text-align: center;
}
.ussulogo {
  margin-top: 60px;
}
.text {
  margin: 0px;
  font-size: 15px;
  margin-right: 5px;
  }


  .glyphicon-map-marker, .glyphicon-envelope{
  text-align: center;
  padding: 8px;
  background-color: #33383b;
  border-radius:50%;
  color: white;
  margin: 3px;
}

/* Footer social icons */

.footer-icons{
	margin-top: 10px;
  text-align: center;
}

.footer-icons a{
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
}
@media(max-width: 995px) {
  .footer {
    margin-left:0px;
    height: 200px;
    margin-top: 90px;

  }
}
@media(max-width: 800px){
  .footer {
    margin-top: 400px;
  }
}

@media(max-width: 500px){
  .footer-left, .footer-right, .footer-center {
    float: center;
    width: 500px;
		margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width: 500px){
  .footer-left, .footer-right, .footer-center {
    float: center;
    width: 500px;

    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
}
@media(max-width: 500px){
  .footer-left  {
    text-align: left;

  }
}
@media(max-width: 500px){
  .footer-icons {
    display: inline-block;
    position: absolute;

  }
}

@media(max-width: 500px){
  .ussulogo {
    margin-top: -100px;
    float: right;
    margin-left: 0px;

  }
}

/*Mailchimp*/
#mc_embed_signup{clear:left; width:100%; margin-top: 10px;}
#mc-embedded-subscribe{float:right; margin-right:50px;}

input[type=text], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #6F9FD9 ;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#6F9FF8;
}

/* INDEX page */
.carousel,.item,.active, .carousel-inner{
  height:100%;
}

.title{
  position: absolute;
  top: 70vh;
  width: 100%;
}
.title img{
  width: 50%;
}
@media(max-width:992px){
  .title{top: 20px; font-size: 20px;}
}

#myCarousel, #portraitCarousel, #page-content-wrapper{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*ABOUT*/
#container_about{
  width: 90%;
}
@media(max-width:992px){
  #container_about{
    width:100%;
  }
}

ul.circle{
  list-style-type: circle;
}

/*Colours*/
.white,.hover-white:hover{background-color:#fff!important}
.black,.hover-black:hover{background-color:#000!important}
.light-grey,.hover-light-grey:hover{background-color:#f1f1ee!important}
.grey,.hover-grey:hover{background-color:#616161!important}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{background-color:#555555!important}
.dark-dark-grey,.hover-dark-dark-grey:hover{background-color:#2b2b2b!important}
.orange,.hover-orange:hover{background-color:#FD7812!important}
.pale-orange,.hover-pale-orange:hover{background-color:#FAEDE3!important}
.light-blue,.hover-light-blue:hover{background-color:#246DC0!important}
.blue,.hover-blue:hover{background-color:#1564BF!important}
.dark-blue,.hover-dark-blue:hover{background-color:#0A1E36!important}
/*.gradient{background: linear-gradient(to right, rgba(0, 146, 70, 0.7), rgba(241, 242, 241), rgba(206, 43, 55, 0.7));}*/
.tricolore{background-image: url("tricolore.png");}

.text-white,.hover-text-white:hover,.text-white,.hover-text-white:hover{color:#fff!important}
.text-black,.hover-text-black:hover,.text-black,.hover-text-black:hover{color:#000!important}
.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover{color:#f1f1ee!important}
.text-dark-grey,.hover-text-dark-grey:hover,.text-dark-gray,.hover-text-dark-gray:hover{color:#3a3a3a!important}
.text-dark-dark-grey,.hover-text.dark-dark-grey:hover{color:#2b2b2b!important}
.text-orange,.hover-text-orange:hover{color:#FD7812!important}
.text-pale-orange,.hover-text-pale-orange:hover{color:#FAEDE3!important}
.text-light-blue,.hover-text-light-blue:hover{color:#246DC0!important}
.text-blue,.hover-text-blue:hover{color:#1564BF!important}
.text-dark-blue,.hover-text-dark-blue:hover{color:#0A1E36!important}
.text-blue-gray,.hover-text-blue-gray:hover{color:#607d8b!important}

.border-white,.hover-border-white:hover{border-color:#fff!important}
.border-black,.hover-border-black:hover{border-color:#000!important}
.border-light-grey,.hover-border-light-grey:hover,.border-light-gray,.hover-border-light-gray:hover{border-color:#f1f1ee!important}
.border-dark-grey,.hover-border-dark-grey:hover,.border-dark-gray,.hover-border-dark-gray:hover{border-color:#616161!important}
